html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        title=title
    body
        .container
            p #{locals.show.name}
            p #{locals.show.tel} 
            if locals.glo.tel
                span #{tel || locals.glo.tel}
            else
                span no tel

<<<<<<< HEAD
            ul.data 
                if data
                    each item in data
                        li 
=======
            ul.data
                if data.length > 0
                    each item in data
                        li
>>>>>>> a57a86e3b263de3d93d50d5fc82a4bbc4f72fc93
                            span #{item.name}
                            img(src=item.picUrl)
                            p #{item.description}
