html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        title
    body
        .container
            //- p #{locals.show.name}
            //- p #{locals.show.tel} 
            //- if locals.glo.tel
            //-     span #{tel || locals.glo.tel}
            //- else
            //-     span no tel


            //- ul.data
            //-     if data.length > 0
            //-         each item in data
            //-             li
            //-                 span #{item.name}
            //-                 img(src=item.picUrl)
            //-                 p #{item.description}
